# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.ear

.mvn/

# eclipse ignore
.settings/
.project
.classpath
.myeclipse/

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db



disconf/download

# Compiled class file
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
*.orig

